<div style="width:100%; padding:50px; background-image:url('<%=asset_url('background2.jpg')%>')">
<table class="table">
  <thead>
    <tr>
      <th>Группа</th>
      <th>URL</th>
      <th>Объем трафика</th>
      <th>Модификаторы</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          Женщины, <=24 лет
        </td>
        <td>
          <a href="#">ВашСайт.ru</a>
        </td>
        <td>
          100%
        </td>

        <td>

        </td>
      </tr>
      <tr>
        <td>
          Женщины, >24 лет
        </td>
        <td>
          <a href="#">ВашСайт.ru/women24-versionA</a>
        </td>
        <td>
          70%
        </td>

        <td>

        </td>
      </tr>

      <tr>
        <td>

        </td>
        <td>
          <a href="#">ВашСайт.ru/women24-versionB</a>
        </td>
        <td>
          30%
        </td>

        <td>

        </td>
      </tr>


      <tr>
        <td>
          Мужчины, <=50 лет
        </td>
        <td>
          <a href="#">ВашСайт.ru/men</a>
        </td>
        <td>
          100%
        </td>

        <td>

        </td>
      </tr>
      <tr>
        <td>
          Мужчины, >50 лет
        </td>
        <td>
          <a href="#">ВашСайт.ru/men</a>
        </td>
        <td>
          100%
        </td>

        <td>
            Увеличить шрифт ценника: 125%
        </td>
      </tr>
  </tbody>
</table>
</div>